[submodule "lib/entt"]
	path = coldgaze/lib/entt
	url = https://github.com/skypjack/entt.git
[submodule "lib/glm"]
	path = coldgaze/lib/glm
	url = https://github.com/g-truc/glm.git
[submodule "coldgaze/lib/glfw"]
	path = coldgaze/lib/glfw
	url = https://github.com/glfw/glfw.git
