[submodule "lib/entt"]
	path = coldgaze/include/entt
	url = https://github.com/skypjack/entt.git
[submodule "lib/glm"]
	path = coldgaze/include/glm
	url = https://github.com/g-truc/glm.git
[submodule "coldgaze/include/imgui"]
	path = coldgaze/include/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "coldgaze/include/tinygltf"]
	path = coldgaze/include/tinygltf
	url = https://github.com/syoyo/tinygltf.git
[submodule "coldgaze/include/nativefiledialog"]
	path = coldgaze/include/nativefiledialog
	url = https://github.com/mlabbe/nativefiledialog.git
[submodule "coldgaze/include/stb"]
	path = coldgaze/include/stb
	url = https://github.com/nothings/stb.git
